*.class
*.log
*.txt
.vscode
.idea
.metals

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.bsp/

*.out
*.o

*.dSYM

# Scala-IDE specific
.scala_dependencies
.worksheet

# Not sure what we're doing
.bloop/
project/.bloop

tests/filecheck/.scala-build/
tests/filecheck/clair/.scala-build/

metals.sbt